#bg{
    background-image: url(bg7.jpg);
    background-size:100%;
    background-attachment: fixed; 
    background-position:center top;
}
#header{

    font-size:large;
    color: white;
    background-size: cover;
    background-position: center;
    background-color:#556B2F ; height: 200px; color: white;
} 

textarea{
    resize:none;
    width:100%;
    
}


#options-co{
    font-weight:bold;
    margin-bottom:10px;
}
#recherche,.login,#options-co,.search{
    color:white;
}

.form-control{

border-radius: 10px;
}
#search{

   border-radius:10px 0px 0px 10px; 
}
#password, #ok, #basket, #search{
    border-radius: 10px 10px 10px 10px;
}